@media (max-width: 1280px){
   body{
    padding: 0 40px;
   } 
}
 
@media (max-width: 950px){ /* tablete */
    
    .conteudo .informacoes{
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .conteudo .informacoes.ativa{
        display: flex;
    }

    .conteudo .informacoes .descricao{
        width: 60%;
        text-align: center;/*semtraliza o texto*/
    }
}

@media (max-width: 550px){/* tela de celular */
    .conteudo .informacoes .logo{
        max-width: 280px;
    }
    .conteudo .informacoes .descricao{
        width: 100%;
    }

    .menu-lateral{
        position: static;
        min-height: auto;
        width: 100%;
        margin-top: 50px;
    }

    .menu-lateral ul{
        flex-direction: row;
    }

    .conteudo{
        gap: 50px;
    }
    body{
        padding: 40px;
    }
}
